@media screen and (max-width: 2560px){

}

@media screen and (max-width: 1440px){

}

@media screen and (max-width: 1024px){

}

@media screen and (max-width: 768px){

}

@media screen and (max-width: 425px){
    body{
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-position: center;
    }
}

@media screen and (max-width: 375px){

}

@media screen and (max-width: 320px){

}