body{
    background-color: #c3c3c3;
    background-image: url("../resources/images/people-2557399.jpg");
    background-size: cover;
    background-attachment: fixed;
    color: whitesmoke;
    font-family: 'Source Sans Pro', sans-serif;
    margin: 0 20%;
    font-size: 16px;
    max-width: 1024px;
}

h1{
    font-size: 2.5em;
}

h2{
    font-size: 2em;
}

h3{
    font-size: 1.5em;
}

p{
    font-size: 1em;
}

.header {
    background-color: #d96100;;
    color: whitesmoke;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: space-between;
    flex-wrap: wrap;
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    height: auto;
}

.header h1{
    margin-bottom: 0;
}

.header .container{
    text-align: center;
}

.header .menu-area{
    display: flex;
    justify-content: space-around;
}

.header ol{
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    height: inherit;
    justify-content: space-around;
}

.icon-menu{
    display: none;
}



.header ol li{
    height: 80px;
}

.header icon-menu{
    height: 80px;
}

.header ol li a{
    display: flex;
    align-items: center;
    height: inherit;
    padding: 0 10px;
    color: whitesmoke;
    text-decoration: none;
}

.header ol li a:hover{
    background-color: #1b2127;
    color: whitesmoke;
}

.header nav ol li a .on{
    background-color: #1b2127;
    color: whitesmoke;
}

.container {
    max-width: 1000px;
    flex: 1;
    margin: 0 auto;
    display: block;
    justify-content: inherit;
    align-items: inherit;
    height: inherit;
    flex-wrap: inherit;
    text-align: inherit;
}

section{
    /* background-color: whitesmoke; */
    background-color:rgba(255,255,255,0.8);
    color: #1b2127;
    margin: 5% 10%;
    border: 10px;
    padding: 10px;
    display: block;
    text-align: center;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    height: max-content;
    min-height: 100%
}

.hero{
    padding: 0;
}

.hero-article{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.details{
    padding: 2% 3% 0% 2%;
    text-align: justify;
    width: auto;
}

.details h2{
    text-align: center;
}


.aside-container{
    display: flex;
    flex-wrap: wrap;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    margin-bottom: 5%;
    justify-content: space-between;
    max-width: max-content;
}

.aside-details{
    width: 50%;
    text-align: justify;
    margin: 0 5%;
}

.aside-details h3{
    text-align: center;
}

.aside-image{
    width: 40%;
    max-height: max-content;
    height: max-content;
}

.image-container {
    display: flex;
    flex: 1;
    padding: 5%;
    margin: 0;
    text-align: center;
    object-position: top;
}

.image-container img{
    width: 100%;
    height: 100%;
}

.footer{
    color: whitesmoke;
    background-color: #1b2127;
    display: block;
    flex-wrap: wrap;
    align-items: flex-end;
    justify-content: space-around;
}

.footer .container{
    display: flex;
}

.footer h1, h3{
    margin: 1% 0;
}

.footer .container p{
    font-size: .8em;
}

.form-email{
    display: inline-block;
    align-items: stretch;
}
